<div class="signup_wrapper">

	<form class="form-signup" id="signup" role="form">
		<fieldset>
	        <legend class="form-signup-heading">Please sign up</legend>
	        <p id="login-error" class="text-error"></p>
	        
	        <div class="control-group">
	        	<input name="username" type="text" class="form-control" placeholder="Username" required autofocus> </input>
	        </div>

	        <div class="control-group">
	        	<input name="password" type="password" class="form-control" placeholder="Password" required> </input>
	        </div>

	        <div class="control-group">
		        <label class="checkbox">
		        	<input type="checkbox" value="remember_me" name="remember_me"> Remember me </input>
		        </label>
		    </div>

	        <button class="btn btn-lg btn-primary btn-block submit" type="submit">Sign up</button>

    	</fieldset>
    </form>

</div>



